/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .pisol_buy_now_button{
     padding:10px 15px !important;
     margin-top:10px !important;
     margin-bottom:10px !important;
     display: block !important;
     text-align: center !important;
     width:100% !important;
}

.pisol-ck-product-row{
    display: flex;
    align-items: center;
}

.pisol-ck-product-row.pi-inline{
    display:inline-block;
}
.pisol-ck-product-row .remove{
    margin-right:7px;
}

.pisol-ck-product-row  .pisol_product_name{
    width:100%;
}

.pisol-ck-product-row .pisol-qty{
    margin-right: 0px;
    margin-left: auto;
    text-align: center;
}

.pisol-ck-product-row .quantity input{
    width:70px;
    padding:5px;
    text-align: center;
}

form.woocommerce-checkout .remove{
    margin-right:7px;
    display:inline !important;
}

:root{
    --captcha_border:5px;
}

#pi_dcw_captcha{
    display:grid;
    grid-template-columns: 1fr 200px 50px;
    border:var(--captcha_border, 5px) solid var(--captcha_color, #ccc);
    border-radius:6px;
    margin-bottom:20px;
    margin-top:20px;
}

#pi_dcw_captcha.error{
    border:var(--captcha_border, 5px) solid var(--captcha_error_color, #ff0000);
}

#pi_dcw_captcha.loading{
    opacity:0.5;
}

.captcha_image_container{
    padding:3px;
    text-align:Center;
    border-left:1px solid var(--captcha_color, #ccc);
}

#captcha_image{
    margin:auto;
}

#captcha_refresh_icon{
    width:30px;
}

#refresh_captcha{
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--captcha_color, #ccc);
    font-size:0px;
    border-left:1px solid var(--captcha_color, #ccc);
}

#pi_dcw_captcha.error #refresh_captcha{
    background:var(--captcha_error_color, #ff0000);
}


#captcha_field, #captcha_field:focus-visible, #captcha_field:focus{
    outline: none;
    border:none;
}



